body {
    background-color: #e93ce0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #285ac4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 320px;
}

h2 {
    color: #12133b;
    text-align: center;
    margin-bottom: 10px;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: right;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(15, 7, 43, 0.2);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #2696ca;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1683ad;
}

button:active {
    background-color: #222;
}

button:nth-child(4n) {
    background-color: #14b845;
    color: #fff;
}

button:nth-child(4n):hover {
    background-color: #16850c;
}
