body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #7de438;
}

.container {
    background: rgb(64, 102, 224);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 50px;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    width: 80%;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}
